<div>
    <h3>Aluno 1</h3>
    <table border="1">
        <tr>
            <th>Nome:</th>
            <td>{{aluno.nome}}</td>
        </tr>
        <tr>
            <th>Data Ingresso:</th>
            <td>{{aluno.dataIngresso}}</td>
        </tr>
          <tr>
            <th>Previsao Formatura</th>
            <td>{{aluno.previsaoFormatura}}</td>
        </tr>
    </table>

    <h3>Aluno 2</h3>
    <table border="1">
        <tr>
            <th>Nome:</th>
            <td>{{aluno2.nome}}</td>
        </tr>
        <tr>
            <th>Data Ingresso:</th>
            <td>{{aluno2.dataIngresso}}</td>
        </tr>
          <tr>
            <th>Previsao Formatura</th>
            <td>{{aluno2.previsaoFormatura}}</td>
        </tr>
    </table>
</div>

<!-- Henrique de Sousa Santos - SC3009165 -->